{% extends "layouts.master" %}
{% block content %}
    <div class="container">
        <nav class="breadcrumbs w-full py-5">
            <salla-breadcrumb></salla-breadcrumb>
        </nav>
        <salla-cart-summary-widget></salla-cart-summary-widget>
    </div>
{% endblock %}
{% block scripts %}
    <script defer src="{{ 'checkout.js' | asset }}"></script>
{% endblock %}
